
  <div class="container">

    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div class="user" *ngIf="!loading && !!user">
        <a class = "text-profile"[routerLink]="['/profile']">Hola {{user.username}}</a>
        <a class = "text-profile"(click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && anon">
        <!-- <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a> -->
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

