
<div class = "form"> 

    <div>
      <h2 class="create-task">Create a task</h2>
    </div>
  
    <form class =" form-fields" (ngSubmit)="submitForm(form)" #form="ngForm">
    
      <div class="field-create">
        <input class= "size-task" type="text" name="name" placeholder="task name" [(ngModel)]="name" #nameField="ngModel" required />
        
          <!-- <div>
            <input class= "size" type="description" name="desctiption" placeholder="task description" [(ngModel)]="description" #descriptionField="ngModel"  />
          </div> -->
          <!-- <div> 
            <input class= "size" type="Date" name="dueDate" placeholder="due date" [(ngModel)]="dueDate" #dueDateField="ngModel"/>
          </div> -->
         
        <button class= "btn-task" type="submit">+</button>
      </div>
    </form>
    
    
  </div>

  <app-mytasks></app-mytasks>
  