<div class = "form"> 
    <img class="monster-modify" src="/src/assets/monster.svg" alt="">
    <div>
      <h2 class="edit-task">Edit task</h2>
      <h2 class="name">{{task.name}}</h2>
    </div>
 {{task._id}}
    <form class =" form-fields" (ngSubmit)="submitForm(form,task._id)" #form="ngForm">
    
      <div class="field margin">
        <div class="inputs">
          <div class="input-size"> 
            <input class= "size" type="text" name="name" placeholder="task name" [(ngModel)]="task.name" required />
          </div>
          <div>
            <input class= "size" type="description" name="description" placeholder="task description (optional)" [(ngModel)]="description" />
          </div>

          <div> 
            <input class= "size" type="Date" name="dueDate" placeholder="due date (optional)" [(ngModel)]="duedate" />
          </div>

        </div>
        <div class="field submit">
            <button class= "btn" type="submit" value="Submit">Edit</button>
        </div>
      </div>
    </form>
</div>
