<!-- <div>
  <p>My pending tasks</p> -->
  <img class="monster-mytask" src="../../../assets/monster.svg" alt=""> 
<div class="flex-container form">
  <div *ngFor="let task of tasksEntries" class="task-card">
    <div class= "task-size">
      <div class="task-content" >
        <h2 class="name">{{task.name}}</h2>
        <a [routerLink]="['/task-edit', task._id]"><i class="fas fa-pencil-alt fa-lg icon-edit"></i>
        </a>
        <button (click)="deleteOne(task._id)"> <i class="fas fa-trash fa-2x icon-trash"></i></button>
      </div>
      <div class="flex-container">
        <h4 class="optionals-fields">{{task.description}}</h4>
        <h4 class="optionals-fields">{{task.dueDate | date:'E, MMM d'}}</h4>
      </div>
    </div>
  </div>
</div>

