

<h1 class="title"><a class ="title-home-link" [routerLink]="['/']">Tasky</a></h1>
<img class="monster-login" src="../../../assets/monster.svg" alt="">
<div class = "form"> 

  <div>
    <h2>Login into your account</h2>
  </div>
  
  <form class =" form-fields" (ngSubmit)="submitForm(form)" #form="ngForm">
  
    <div class="field margin">
  
      <!-- <label>username</label> -->
        <input class= "size" type="text" name="username" placeholder="username" [(ngModel)]="username" #usernameField="ngModel" required />
      
      
      <!-- <label>password</label> -->
        <input class= "size" type="password" name="password" placeholder="password" [(ngModel)]="password" #passwordField="ngModel" required />
    
      <button class= "btn" type="submit">Login</button>
    </div>  
  </form>
  <h4>Or Signup<a class= "signup-link" [routerLink]="['/signup']"> HERE</a></h4> 
</div>