/* You can add global styles to this file, and also import other style files */
/* 
body {
  background: green; 
  margin:0px;
  padding:0px;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.7)), url("../src/images/home.jpg");
  background-image: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  /* background: green; */
  margin:0px;
  padding:0px;
  font-family: 'Lato', sans-serif;
  color:white;
  background-color: rgb(255, 120, 125);
  background-image: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  text-align:center;
  overflow-y:hidden;
 
}

/* Home page */

.homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100%;
  overflow-y:hidden;
}

#title {
  font-size: 4em;
  font-weight: bolder;
  margin-bottom: 300px;
}

.monster {
  position: absolute;
  top: 100px;
  left: 0;
  width: auto;
  height: 400px;
  z-index: -1;
  overflow-y:hidden;
}
.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y:hidden;
}
.btn {
  padding: 12px 15px;
  background-color: rgb(139, 71, 73);
  width: 70%;
  margin: 5px;
  color: white;
  border-radius: 15px;
  font-size: 1.2em;
  text-decoration: none;
  overflow-y:hidden;
}

/* login component */

h1 {
  display: flex;
  justify-content: center;
}

.title-home-link{
  font-size: 2em;
  font-weight: bolder;
  color:white;
  text-align: center;
  text-decoration: none;
}

.form {
  text-align:center;
}

.size {
  padding: 12px 15px;
  width: 70%;
  margin: 5px;
  color: rgb(139, 71, 73);
  border-radius: 15px;
  font-size: 1.2em;
  overflow-y:hidden;
}

.signup-link {
  color : rgb(175, 88, 91);
  margin-left: 5px;
}

.monster-login {
  position: absolute;
  top: 400px;
  left: -100px;
  width: auto;
  height: 400px;
  z-index: -1;
  overflow-y:hidden;
}

/* signup component */


.signup {
  padding-top: 200px;
  text-align: center;
  overflow-y:hidden;
}

.monster-signup {
  position: absolute;
  top: -100px;
  left: +100px;
  width: auto;
  height: 400px;
  z-index: -1;
  overflow-y:hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y:hidden;
}

/* create component */

.field-create{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.size-task {
  padding: 12px 15px;
  width: 60%;
  margin: 5px;
  color: rgb(139, 71, 73)
  border-radius: 15px;
  font-size: 1.2em;
  overflow-y:hidden;
}

.btn-task {
  padding: 9px 15px;
  background-color: rgb(139, 71, 73);
  width: 20%;
  height: 50px;
  margin: 5px;
  color: white;
  border-radius: 15px;
  font-size: 2em;
  text-decoration: none;
  overflow-y:hidden;
}

/* mytask component */

.task-card {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.task-size {
background-color: rgb(139, 71, 73);
text-align:left;
border-radius: 15px;
width: 90%;
overflow-y:hidden;


}

.task-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y:hidden;
}

.name {
  width: 70%;
  padding-left: 10px;
  margin:0;
  font-size: 22px;
}

.icon-edit {
  padding-top: 7px;
  display: inline-block;
  color:white;
}

.icon-trash {
  color:white;
}

.optionals-fields {
  margin: 5px;
  color:pink;
  padding-left: 10px;
}

.monster-mytask {
  position: absolute;
  top: +200px;
  left: -62px;
  width: auto;
  height: 500px;
  z-index: -1;
  overflow-y:hidden;
}

/* modify component */
.monster-modify{
  position: absolute;
  top: +450px;
  left: -62px;
  width: auto;
  height: 500px;
  z-index: -1;
  overflow-y:hidden;
}

.edit-task {
  padding: 40px;
}

/* app component */

.user {
  background-color:  rgb(139, 71, 73);
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-profile {
  text-decoration: none;
  font-size:20px;
  color: white;
  text-transform: capitalize;
} 




